
<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>

    <title>All About Shopping Credentials</title>
    


    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    

    </head>

<body>
    <h1> Shop Details </h1><hr>
    <ul>
        <li>{{shop1|upper}}</li>
        <li>{{shop2|title}}</li>
        <li>{{shop3|lower}}</li>
        <li>{{shop4|title}}</li>
        <li>{{shop5|upper}}</li>
    </ul>    
    
    <img src = '{%static  'images/yoga1.jpg' %}'>
    <img src = '{%static  'images/weather.png' %}'>
    <img src = '{%static  'images/yoga2.jpg' %}'>
    <img src = '{%static  'images/keshu.jpg' %}'>
    <img src = '{%static  'images/weather.jpg' %}'>
    

    
    
